{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

<!-- Admin Dashboard -->
{% if request.user.id == 1 %}
<div class="container text-white">
  <h3 class="center-align">Neighborhoods Available</h3>
  <div class="row">
    {% for neighborhood in neighborhoods %}
    <a href="{% url 'neighborhood' neighborhood.id %}" class='black-text'>
      <div class="col s12 m12 l6 xl6">
        <div class="divider"></div>
        <div class="section">
          <h4 class="center-align" style="color: white;"><i
              class="material-icons">home</i>{{neighborhood.neighborhood_name}}</h4>
        </div>
      </div>
    </a>
    {% endfor %}

    <!-- Neighborhood Form Modal -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="center-align">Add Neighborhood</h4>
        <div class="divider"></div>
        <form action="{% url 'index' %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form form%}
          <button class="btn" style="background-color:#52A8A8;" type="submit" name="action">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Intro Dashboard -->
{% if user.neighborhood == null and request.user.id != 1 %}
<div class="container">
  <h3 class="center-align text-white" style="font-size: xx-large; font-family: Luna; font-weight: bold; font-style: oblique; color: black;">Select Your neighborhood</h3>
  <div class="row">

    <div class="col-sm">
      {% for neighborhood in neighborhoods %}
      <div class="divider"></div>
      <div class="section text-white">
        <a href="{% url 'neighborhood' neighborhood.id %}" class="btn-floating"
          style="background-color:#319737!important;"><i class="material-icons">place</i></a>
        <h4 class="center-align"><i class="material-icons"></i>{{neighborhood.neighborhood_name}}</h4>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endblock %}