{% extends 'base.html' %}
{% load bootstrap3 %}

{%block content %}
<div class="container">
  <div class="row">
    <div class="col l3 xl3"></div>
    <div class="col s12 m12 l6 xl6">
      {% if form.errors %}
      <div class="card-panel red darken-2 white-text">Password or email is Incorrect</div>
      {% endif %}
      <div class="card #52A8A8 darken-1">
        <div class="card-content">
          <span class="card-title center-align">Sign In To Neighborhood</span>
        </div>
        <div class="card-content">
          <form action="/accounts/login/" method="POST">
            {% csrf_token %}
            {% bootstrap_form form%}
            <button class="btn" style="background-color:#4c2c53;" type="submit" name="action">Sign In</button>
            <input type="hidden" name="next" value="/">
          </form>
          <p class="center-align">Don't have an account? <a href="/accounts/register/">Sign Up</a></p>
        </div>
      </div>
    </div>
    <div class="col l3 xl3"></div>
  </div>
</div>
{% endblock %}
